.main {
  font-family: PingFangSC-Regular, 'PingFang SC', serif;
  margin-top: 30px;
}

.heading {
  width: 880px;
  height: 260px;
  margin: 0 auto;
  background-image: url('../../assets/bg1.png');
  background-size: 100%;

  .region {
    padding: 48px 0 0 48px;
  }

  .subtitle {
    color: #fff;
    font-size: 22px;
    margin-top: 12px;
  }

  img {
    width: 82px;
    height: 28px;
    float: right;
    margin-right: 39px;
  }
}

.content {
  margin: 0 auto;
  width: 880px;
  height: 340px;
  margin-top: 20px;

  .left {
    width: 530px;
    height: 340px;
    margin-right: 12px;
    background-image: url('../../assets/bg2.png');
    background-size: 100%;
    display: inline-block;
    vertical-align: top;

    .desc {
      color: #333;
      font-size: 40px;
      margin: 48px 0 24px 48px;
    }

    .sm {
      font-size: 26px;
      margin: 0 0 0 48px;
    }
  }

  .right {
    width: 338px;
    height: 340px;
    display: inline-block;

    .link {
      width: 338px;
      height: 164px;
      border-radius: 24px;

      a {
        height: 164px;
        text-align: center;
        line-height: 164px;
        font-size: 22px;
      }
    }

    .link:first-child {
      background-color: #f5fff7;
    }

    .link:nth-last-child(2n + 1) {
      background-color: #fff7f5;
    }

    .link + .link {
      margin-top: 12px;
    }
  }
}
